In [120]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from math import sqrt
from sklearn.metrics import mean_squared_error
import joblib

In [121]:
# Random Dataset generation
""" import random
temp = pd.DataFrame(columns=["X", "Y", "Z"])
for i in range(1,100):
    x = random.randint(0, 50)
    y = random.randint(101, 300)
    z = int(x*x/(y - 100))
    temp = temp.append(pd.DataFrame([[x, y, z]], columns=["X", "Y", "Z"]), ignore_index = True)
temp.to_csv('dataset.csv', index=False) """

' import random\ntemp = pd.DataFrame(columns=["X", "Y", "Z"])\nfor i in range(1,100):\n    x = random.randint(0, 50)\n    y = random.randint(101, 300)\n    z = int(x*x/(y - 100))\n    temp = temp.append(pd.DataFrame([[x, y, z]], columns=["X", "Y", "Z"]), ignore_index = True)\ntemp.to_csv(\'dataset.csv\', index=False) '

In [122]:
dataset = pd.read_csv('dataset.csv')
dataset

     X    Y    Z
0   43  256   11
1   50  180   31
2   46  113  162
3   35  279    6
4   31  277    5
..  ..  ...  ...
94  27  276    4
95   2  165    0
96  39  154   28
97  15  245    1
98  13  277    0

[99 rows x 3 columns]

In [123]:
# Feature and Class
x = dataset.iloc[:,0:2]
y = dataset.iloc[:,2]

In [124]:
# Dataset Spliting
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=1)

In [125]:
# Linear Regression Model
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [126]:
# Prediction using Linear Regression
lr_pred = lr.predict(x_test)

In [127]:
# Accuracy metrics
print("RMSE: {}".format(sqrt(mean_squared_error(y_test,lr_pred))))

RMSE: 38.53061972242838

In [128]:
# Model pickling
joblib.dump(lr, 'lr.model')

['lr.model']

In [129]:
# Model object construction
model = joblib.load('lr.model')